@font-face {
  font-family: 'Objektiv MK1';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Objektiv-Mk1-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK1';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Objektiv-Mk1-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK1';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/Objektiv-Mk1-Medium-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK1';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/Objektiv-Mk1-Medium-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK1';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Objektiv-Mk1-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK1';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Objektiv-Mk1-Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK3';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Objektiv-Mk3-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK3';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Objektiv-Mk3-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK3';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/Objektiv-Mk3-Medium-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK3';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/Objektiv-Mk3-Medium-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK3';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Objektiv-Mk3-Bold-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Objektiv MK3';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Objektiv-Mk3-Bold-Italic.ttf') format('truetype');
}
