.MuiButton-root {
    color: #192832;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: all 350ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    font-family: Objektiv MK1 Regular, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: none;
  }
  .MuiButton-root:hover {
    text-decoration: none;
    background-color: rgba(25, 40, 50, 0.04);
  }
  .MuiButton-root.Mui-disabled {
    color: #B8BCBF;
  }
  @media (hover: none) {
    .MuiButton-root:hover {
      background-color: transparent;
    }
  }
  .MuiButton-root:hover.Mui-disabled {
    background-color: transparent;
  }
  .MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
  }
  .MuiButton-text {
    padding: 6px 8px;
  }
  .MuiButton-textPrimary {
    color: #045B56;
  }
  .MuiButton-textPrimary:hover {
    background-color: rgba(4, 91, 86, 0.04);
  }
  @media (hover: none) {
    .MuiButton-textPrimary:hover {
      background-color: transparent;
    }
  }
  .MuiButton-textSecondary {
    color: #EE8B3A;
  }
  .MuiButton-textSecondary:hover {
    background-color: rgba(238, 139, 58, 0.04);
  }
  @media (hover: none) {
    .MuiButton-textSecondary:hover {
      background-color: transparent;
    }
  }
  .MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
  }
  .MuiButton-outlined.Mui-disabled {
    border: 1px solid rgba(122, 131, 137, 0.5);
  }
  .MuiButton-outlinedPrimary {
    color: #045B56;
    border: 1px solid rgb(4, 91, 86);
    box-shadow: inset -0px -0px 0 0 rgba(4, 91, 86,.06);
  }
  .MuiButton-outlinedPrimary:hover {
    border: 1px solid #045B56;
    background-color: transparent;
    box-shadow: inset -100px -0px 0 0 rgba(4, 91, 86,.06);
  }
  .MuiButton-outlinedPrimary:active {
    box-shadow: inset -100px -0px 0 0 rgba(4, 91, 86,.03);
  }
  @media (hover: none) {
    .MuiButton-outlinedPrimary:hover {
      background-color: transparent;
    }
  }
  .MuiButton-outlinedSecondary {
    color: #EE8B3A;
    border: 1px solid rgb(238, 139, 58);
    box-shadow: inset -0px -0px 0 0 rgba(238, 139, 58,.06);
  }
  .MuiButton-outlinedSecondary:hover {
    border: 1px solid #EE8B3A;
    background-color: transparent;
    box-shadow: inset -100px -0px 0 0 rgba(238, 139, 58,.06);
  }
  .MuiButton-outlinedSecondary:active {
    box-shadow: inset -100px -0px 0 0 rgba(238, 139, 58,.03);
  }
  ​
  .MuiButton-outlinedSecondary.Mui-disabled {
    border: 1px solid #B8BCBF;
  }
  @media (hover: none) {
    .MuiButton-outlinedSecondary:hover {
      background-color: transparent;
    }
  }
  .MuiButton-contained {
    color: #fff;
    box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #7A8389;
  }
  .MuiButton-contained:hover {
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #d5d5d5;
  }
  .MuiButton-contained.Mui-focusVisible {
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  }
  .MuiButton-contained:active {
    box-shadow: 0px 5px 2px -3px rgba(0,0,0,0.2),0px 3px 4px 1px rgba(0,0,0,0.14),0px 3px 5px 2px rgba(0,0,0,0.12);
  }
  .MuiButton-contained.Mui-disabled {
    color: #B8BCBF;
    box-shadow: none;
    background-color: rgba(122, 131, 137, 0.5);
  }
  @media (hover: none) {
    .MuiButton-contained:hover {
      box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
      background-color: #7A8389;
    }
  }
  .MuiButton-contained:hover.Mui-disabled {
    background-color: rgba(122, 131, 137, 0.5);
  }
  .MuiButton-containedPrimary {
    color: #FFFFFF;
    background-color: #045B56;
    box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12),inset 0 -0px 0 0 #034E49;
  }
  .MuiButton-containedPrimary:hover {
    background-color: #045B56;
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12), inset -100px -0px 0 0 #034E49;
  }
  @media (hover: none) {
    .MuiButton-containedPrimary:hover {
      background-color: #045B56;
    }
  }
  .MuiButton-containedSecondary {
    color: #FFFFFF;
    background-color: #EE8B3A;
    box-shadow: 0px 2px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12),inset 0 -0px 0 0 #DD6E13;
  }
  .MuiButton-containedSecondary:hover {
    background-color: #EE8B3A;
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12), inset -100px -0px 0 0 #DD6E13;
  }
  @media (hover: none) {
    .MuiButton-containedSecondary:hover {
      background-color: #EE8B3A;
    }
  }
  .MuiButton-disableElevation {
    box-shadow: none;
  }
  .MuiButton-disableElevation:hover {
    box-shadow: none;
  }
  .MuiButton-disableElevation.Mui-focusVisible {
    box-shadow: none;
  }
  .MuiButton-disableElevation:active {
    box-shadow: none;
  }
  .MuiButton-disableElevation.Mui-disabled {
    box-shadow: none;
  }
  .MuiButton-colorInherit {
    color: inherit;
    border-color: currentColor;
  }
  .MuiButton-textSizeSmall {
    padding: 4px 5px;
    font-size: 0.8125rem;
  }
  .MuiButton-textSizeLarge {
    padding: 8px 11px;
    font-size: 0.9375rem;
  }
  .MuiButton-outlinedSizeSmall {
    padding: 3px 9px;
    font-size: 0.8125rem;
  }
  .MuiButton-outlinedSizeLarge {
    padding: 7px 21px;
    font-size: 0.9375rem;
  }
  .MuiButton-containedSizeSmall {
    padding: 4px 10px;
    font-size: 0.8125rem;
  }
  .MuiButton-containedSizeLarge {
    padding: 8px 22px;
    font-size: 0.9375rem;
  }
  .MuiButton-fullWidth {
    width: 100%;
  }
  .MuiButton-startIcon {
    display: inherit;
    margin-left: -4px;
    margin-right: 8px;
  }
  .MuiButton-startIcon.MuiButton-iconSizeSmall {
    margin-left: -2px;
  }
  .MuiButton-endIcon {
    display: inherit;
    margin-left: 8px;
    margin-right: -4px;
  }
  .MuiButton-endIcon.MuiButton-iconSizeSmall {
    margin-right: -2px;
  }
  .MuiButton-iconSizeSmall > *:first-child {
    font-size: 18px;
  }
  .MuiButton-iconSizeMedium > *:first-child {
    font-size: 20px;
  }
  .MuiButton-iconSizeLarge > *:first-child {
    font-size: 22px;
  }
  .MuiButton-containedPrimary:hover {
    background-color: #045B56; }