# This workflow compares package.json version with the main branch

name: Check version

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/**'
      - 'stories/**'
      - 'public/**'
      - 'typings/**'
      - 'package.json'
      - 'package-lock.json'

jobs:
  compare-versions:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - name: Get main branch package.json version
        id: version-in-main
        uses: martinbeentjes/npm-get-version-action@v1.3.1
      - uses: actions/checkout@v3
      - name: Get current package.json version
        id: current-package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
      - name: Compare package.json versions
        if: ${{ steps.version-in-main.outputs.current-version == steps.current-package-version.outputs.current-version }}
        run: |
          echo "You need to have a different package.json version than the one in main"
          exit 1

  test-build:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.13.0
      - name: Install dependencies
        run: npm ci
      - name: Build package
        run: npm run build
