# This workflow deploys Storybook to GitHub pages

name: Deploy Storybook

on:
  pull_request:
    branches:
      - 'main'
    types:
      - 'closed'
    paths:
      - 'src/**'
      - 'stories/**'
      - 'public/**'
      - 'typings/**'
      - '.storybook/**'
      - 'package.json'
      - 'package-lock.json'

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.13.0
      - name: Build Storybook
        run: |
          npm ci
          npm run build-storybook
      - name: Deploy Storybook
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs-build
          user_name: '${{ github.actor }}'
          user_email: '${{ github.actor }}@users.noreply.github.com'
